# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
venv/
ENV/
env.bak/

# Environment files
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.tar.gz

# OS stuff
.DS_Store
Thumbs.db

# Editor/project files
.vscode/
.idea/
*.swp

# Logs or temporary files
*.log
*.tmp

myrosary-1.0.0-1-any.pkg.tar.zst

pkg/
src/
